header{
    background-color:  #0c1b2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;  
}

 body {
  margin: 0;
  padding: 0; 
}

.photo {
  width: 200px;  
  height: 200px;
  border-radius: 10%;           
  border: 9px solid rgba(128, 128, 128, 0.562); 
  margin-top: 35px;
  display: flex;          
  align-items: center;    
  justify-content: center; 
}


.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.nom{
    color: whitesmoke;
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
}

header .nom{
  margin-top: 19px;
}

.info-nav li{
  margin-bottom: 20px;
    margin-right: 140px;
    
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  transition: color 0.3s ease;
  display: flex;  
}


ul li a:hover {
  color: #00ff88; 
}

ul li a:hover i {
  color: #00ff88; 
}

i {
  color: white;
  margin-right: 8px;
  font-size: 20px;
  
}


ul li {
  margin: 40px 0;
  list-style: none;
}



.icones {
  margin-left: 30px;
  display: flex;
  gap: 10px;

}

.icones a {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.445); 
  border-radius: 20%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-shrink: 0; 
  transition: all 0.3s ease;
}

.icones a i {
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}


.icones a:hover {
  background-color: #00ff88; 
}

