header{
    background-color: #25303f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    justify-content: center;  
    align-content: center;
    position: fixed;
    overflow-y: auto;
    
}

body{
  margin: 0;
  padding: 0; 
  
}

.photo {
  width: 200px;  
  height: 200px;
  border-radius: 20px;          
  border: 8px solid rgba(128, 128, 128, 0.384); 
  display: flex;          
  margin-top: 250px;
  max-width: 220px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  justify-content: center;
  border-radius: 10px;
}

.nom h1{
    color: whitesmoke;
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

header .nom{
  margin-top: 19px;
}

.info-nav li{
  margin-bottom: 20px;
  margin-right: 50px;
  width: 100%;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  transition: color 0.3s ease;
  display: flex;  
}


ul li a:hover {
  color: #00ff88; 
}

ul li a:hover i {
  color: #00ff88; 
}

i {
  color: white;
  margin-right: 8px;
  font-size: 20px; 
}

ul li {
  margin: 40px 0;
  list-style: none;
}

.icones {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.icones a {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.445); 
  border-radius: 20%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-shrink: 0; 
  transition: all 0.3s ease;
}

.icones a i {
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.icones a:hover {
  background-color: #00ff88; 
}
section{
   padding: 150px 0; 
}

main {
  margin-left: 300px;
  background-color:#25303f;
  padding: 0 40px;
  color: #fff;
  display: block;
  overflow-x: hidden;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
 
}

.hero .home{
  flex: 0 0 auto;
  width: 50%;
}
.ma-photo{
  position: relative;
  width: fit-content;
}
.hero .ma-photo{
  flex: 0 0 auto;
  width: 50%;
  max-width: 500px;
  margin: 0 auto; 
}
.ma-photo img{
  display: block;
  overflow: hidden;
}
.hero .ma-photo img{
  border-radius: 12px;
  box-shadow: 0 20px 60px rgba(255, 255, 255, 0.15);
  transition: transform 0.4s ease;
  max-width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: 20px !important;
}

.ma-photo:hover img {
  transform: scale(1.05);
}

.hero .home .titre{
  font-size: 3.5rem;
  font-family: Ubuntu;
  font-weight: 400;
}

.hero .home .titre2{
  color: #22e7a1;
  text-decoration: underline;
  text-underline-offset: 15px; 
  text-decoration-thickness: 2px;
}

.home p{
  font-family: Ubuntu;
  line-height: 1.70;
  color:#d1d5db;
  font-size: 1.125rem;
}

.buttons .button1{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #22e7a1;
  border: none;
  font-family: Ubuntu;
  font-size: 1.1rem;
  color: #1f2937;
  font-weight: 500;
}
.buttons .button2{
  margin-left: 20px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #25303f;
  color: #f9fafb;
  border:2px solid gray ;
  font-family: Ubuntu;
  font-size: 1.1rem;
}

.buttons{
  margin-top: 60px;
  margin-bottom: 25px;
}

.hero .home .actions {
  display: flex;
  gap: 3rem;
}

.hero .home .actions .act .nombre{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #00ff88;
    margin-bottom: 0; 
    font-family: System-ui;
}

.hero .home .actions .act .texte{
  display: inline-block;
  white-space: nowrap;
  font-size: 0.875rem;
  color:rgba(255, 255, 255, 0.6);
  margin-top: 0.123rem; 
  font-weight: 400;
  font-family: System-ui;
}

.works{
  bottom: 0;
  left: 0;
  width: 100%;
}
.works1, .works2, .works3{
  position: absolute;
  display:flex ;
  align-items: center;
  justify-content: center;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: #293443;
  font-family: sans-serif;
  box-shadow: 0 4px 15px #f9fafb1a;
  transition: transform 0.3s ease
}

.works i{
  color: #22e7a1;
}

.works1:hover, .works2:hover, .works3:hover{
  transform: scale(1.1); 
}

.works1{
  top: 100px;
  left: -25px; 
}
.works2{
  bottom: 50px;
  left: -55px;
}
.works3{
  bottom: 50px;
  right: -45px;
}

.about .salutation{
  font-size: 1.9rem;
  margin-left: 20%;
  color: #f9fafb;
}

.about .salutation h1{
  margin-bottom: 12px;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
}

.about .info{
  font-size: 20px;
  font-weight: 400;
  color: #f3f4f6a2;
  margin-left: 30%;
}
.about .info h4{
  font-family:sans-serif;
}

.about .photo2{
  flex: 0 0 auto;
  width: 50%;
  max-width: 270px;
  padding: 20px; 
  margin-top: 15px; 
  margin-left: 50px;
}

.about .photo2 img{
  max-width: 100%;
  border-radius: 10px;
}

.localisation li{
  display: flex;
  align-items: center;
  color: #f3f4f6;
  gap: 8px;
  margin-bottom: -15px;
}
.localisation{
  font-family: Roboto, system-ui, -apple-sy;
 align-items: flex-start;
 display: block;
}

.localisation i{
  color: #22e7a1;
  font-size: 18px;
}

.localisation .dot {
  width: 8px;
  height: 8px;
  background-color: #2ecc71; 
  border-radius: 50%;
  display: inline-block;
}

.localisation li p {
  color: #f3f4f6;
  font-size: 16px;   
  font-weight: 400;
  margin: 0; 
  padding: 0;
}

.about .description{
  flex: 0 0 auto;
  width: 50%;
  margin-top: 20px;
  margin: 0;
}

.about .description .p1{
  color: #f3f4f6;
  font-size: 20.8px;
  line-height: 1.7;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 300;
}

.about .description .p2{
  font-size: 17.6px;
  line-height: 1.8;
  color: #f3f4f6;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 450;
}

.informations{
  display: flex;
  align-items: flex-start;
  gap: 110px;
}

.service{
  display: flex; 
  align-items: flex-start;
  gap: 20px; 
  margin-bottom: 25px;
}
.icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 50px;
 height: 50px;
 border-radius: 8px; 
 background-color: #22e7a21e;
 flex-shrink: 0; 
}
.icon i{
  color:#22e7a1 ;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.domaine h1{
  font-family: Ubuntu, sans-serif;
  color: rgb(249, 250, 251);
  font-weight:500;
  font-size: 20px;
  margin: 0 0 4px 0;  
}
.domaine p{
  font-family: Roboto, system-ui, -apple-sy;
  color: #f3f4f6a2;
  font-size: 15px;
  font-weight: 480;
  margin: 5;  
}
.others{
  margin-top: 50px;
}
.quote-mark{
  color:#22e7a22f ;
  font-size: 70px;
  position: absolute; 
  top: -10px;        
  left: -20px;   
}
.quote-block{
  padding: 40px 0;  
  position: relative; 
  max-width: 100%; 
  margin: 0 auto;
}
.advice{
  color: #f3f4f6;
  font-style: italic;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: Roboto, system-ui, -apple-s;
  font-weight: 300;
  position: relative;
  margin-top: 0px;
}
.line{
  max-width: 500px;
  height: 1px;
  background-color:rgba(243, 244, 246, 0.274);
  width: 100%;
  margin-top: 150px;
  max-width: 900px;
  display: block;
  margin-left: 50px;
}
.about .create{
  flex: 0 0 auto;
  width: 50%;
}
.about .bottoms{
  flex: 0 0 auto;
  width: 50%;
  align-items: center;
}
.about .creation{
  display: flex;
}
.bottoms{
  margin-top: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.create{
  margin-top: 40px;
  font-family: Ubuntu, sans-serif;
  margin-left: 45px;
}
.create h1{
  color: #f9fafb;
  font-weight: 100;
  font-size: 1.858rem;
}
.create p{
  font-family: Roboto, system-ui, -apple-sy;
  color: #f3f4f6a9;
  font-weight: 500;
  font: 1.800rem;
}
.bottom1{
  width: 190px;
  height: 50px;
  border-radius: 7px;
  background-color: #22e7a1;
  border: none;
  color:#1f2937;
  font-family: Roboto, system-ui, -apple-sy;
  cursor: pointer;
  font-size: 1.144rem;
}
.bottom2{
  width: 170px;
  height: 50px;
  border-radius: 7px;
  background-color: #293443;
  color: #f3f4f6;
  border: 1px solid #f3f4f662;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.100rem;
}
.bottom2:hover{
  border-color: #00ff88;
  color: #22e7a1;
}
.activities{
  display: flex;
  width: 980px;
  height: 700px;
  background-color: rgb(41, 51, 65);
  margin-top: 130px;
  justify-content: center;
}
.activity{
  margin-left: 40px;
  margin-top: 130px;
}
.number{
  font-size: 75px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text1{
  color: #f3f4f67e;
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
}
.line1{
  height: 1px;
  width: 200px;
  background-color:rgba(243, 244, 246, 0.342);
  margin-top: 130px;
}
.items{
  margin-top: 50px;
  display: flex;
  gap: 18px;
}
.content h1{
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.content p{
  font-family: sans-serif;
  color:#f3f4f6a8;
  font-size: 10x;
  font-weight: 500;
}
.icons i{
  color: #00ff88;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #22e7a20e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;  
}
.skills {   
  padding: 0 0 40px 0;  
  text-align: center; 
  margin-bottom: 40px;     
}

.skills .my-skills h1 {
  color: white;
  font-size: 28px;         
  font-weight: 400;
  margin-bottom: 15px; 
  font-family: Ubuntu, sans-serif;
}
.underline{
  padding: 0 0 40px 0; 
  text-align: center;
}
.ligne1{
  width: 150px;                
  height: 1px;                
  background-color: #f9fafb6b;  
  margin: 0 auto;
  margin-top: 0;
}
.ligne2{
  width: 60px;                
  height: 3px;                
  background-color: #22e7a1;  
  margin: -2px auto 0 auto;  
}
.my-skills p{
  font-family: sans-serif;
  color: rgb(243, 244, 246);
  font-size: 16px;
}
.text{
  margin-top: 50px;
}
.my-skills .text{
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color:#f9fafb6b ;
}
.expertise{
  display: flex;
}
.skills .technical{
  flex: 0 0 auto;
  width: 70%;
  box-sizing: border-box;
  text-align: left; 
  margin-top: 20px;
}
.skills .year-experience{
  flex: 0 0 auto;
  width: 30%;
  box-sizing: border-box;
}
.expert{
  font-size: 25px;
  font-family: Ubuntu,"sans-serif";
  font-weight: 300;
}
.tech{
  font-family:sans-serif;
  font-size: 16px;
  color:#f9fafb6b ;
  font-weight: 300;
}
.underlines{
  height: 1px;
  background-color:rgba(243, 244, 246, 0.274);
  width: 100%;
  margin-top: 20px;
  max-width: 700px;
  display: block;
}
.full{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
}
.full-content{
  display: flex;
  gap: 450px;
}
.nbr{
  font-size: 15px;
  color: #22e7a1;
  font-family: Roboto, system-ui, -apple-sy;
  margin-top: 20px;
  font-weight: 500;
}
.unders{
  width: 100%; 
}
.unders1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.unders2{
  width: 630px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0;  
}
.cl{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
}
.cl-content{
  display: flex;
  gap: 490px;
}
.under{
  width: 100%;
}
.under3{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.under4{
  width: 600px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0;  
}
.data{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
}
.data-content{
  display: flex;
  gap: 500px;
}
.unde{
  width: 100%;
}
.unde5{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.unde6{
  width: 570px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 50px 0;  
}
.exper{
  font-size: 25px;
  font-family: Ubuntu,"sans-serif";
  font-weight: 300;
}
.texts{
  font-family:sans-serif;
  font-size: 16px;
  color:#f9fafb6b ;
  font-weight: 300;
}
.the-line{
  height: 1px;
  background-color:rgba(243, 244, 246, 0.274);
  width: 100%;
  margin-top: 20px;
  max-width: 700px;
  display: block;
}
.ui{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.ui-content{
  display: flex;
  gap: 530px;
}
.ui-content .nbr{
  margin-top: 35px;
}
.ux{
  width: 100%;
}
.ux1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.ux2{
  width: 640px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0;  
}
.brand{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
}
.brand-content{
  display: flex;
  gap: 530px;
}
.ident{
  width: 100%;
}
.ident1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.ident2{
  width: 580px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0; 
}
.motion{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
}
.motion-content{
  display: flex;
  gap: 510px;
}
.graph{
  width: 100%;
}
.graph1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.graph2{
  width: 530px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0; 
}
.strat{
  font-size: 25px;
  font-family: Ubuntu,"sans-serif";
  font-weight: 300;
  margin-top: 30px;
}
.manag{
  font-family:sans-serif;
  font-size: 16px;
  color:#f9fafb6b ;
  font-weight: 300;
}
.the-line1{
  height: 1px;
  background-color:rgba(243, 244, 246, 0.274);
  width: 100%;
  margin-top: 20px;
  max-width: 700px;
  display: block;
}
.proj-man{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.proj-man-content{
  display: flex;
  gap: 470px;
}
.proj-man-content .nbr{
  margin-top: 35px;
}
.projs{
  width: 100%;
}
.proj1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.proj2{
  width: 620px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0; 
}
.team{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.team-content{
  display: flex;
  gap: 490px;
}
.team-content .nbr{
  margin-top: 35px;
}
.team-coor{
  width: 100%;
}
.coor1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.coor2{
  width: 590px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0; 
}
.strat{
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.strat-content{
  display: flex;
  gap: 500px;
}
.strat-content .nbr{
  margin-top: 35px;
}
.plan{
  width: 100%;
}
.plan1{
  width: 680px;                
  height: 1.95px;                
  background-color: #f9fafb10;  
  margin: 0;
  margin-top: 0;
}
.plan2{
  width: 570px;                
  height: 1.95px;                
  background-color: #22e7a1;  
  margin: -2px 0 0 0; 
}
.recompense{
  width: 250px;
  height: 320px;
  border-radius: 10px;
  background-color: #22e7a209;
  border: 1px solid #f9fafb17 ;
  padding-bottom: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 40px auto;
}
.my-icon i{
  color: #22e7a1 ;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.year{
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f9fafb;
  
}
.nbr-year{
  font-family: "Ubuntu", sans-serif ;
  font-size: 50px;
  font-weight: 300;
  color: #22e7a1;
}
.mini-year{
  font-family: "Ubuntu", sans-serif ;
  color: #f9fafb5e;
  font-size: 20px;
  font-weight: 300;
  margin-top: 50px;
  margin-left: 10px; 
}

.mini-text{
  margin: 0;
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 18px;
  color:  #f3f4f671;
  text-align: center;
}
.annee{
  display: flex;
  gap: 10px;
}
.year-experience{
  margin-left: 30px;
  flex-direction: column;
}
.primaire{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #f9fafb;
  margin-right: 100px;
}
.maitrise{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
  margin-top: 30px;
}
.maitrise i{
  color: #22e7a1;
  font-size: 20px;
}
.maitrise p{
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 400;
  font-size: 14px;
  color: #f3f4f6;
}
.maitrise1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9fafb17 ;
  width: 130px;
  height: 50px;
  border-radius: 8px;
  background-color: #22e7a209;
  transition: 0.3s;
}
.maitrise1:hover{
  border-color: #22e7a250; 
}
.achive{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #f9fafb;
  margin-top: 40px;
  margin-right: 100px;
}
.an-achive{
  gap: 20px;
  display: flex;
}
.certificat{
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto, system-ui, -apple-s;
}
.chiffre{
  color: #22e7a1;
}
.resume{
  padding: 0 0 40px 0;  
  text-align: center; 
  margin-bottom: 40px; 
}
.resume .my-resume h1{
  color: white;
  font-size: 28px;         
  font-weight: 400;
  margin-bottom: 15px; 
  font-family: Ubuntu, sans-serif;
}
.my-resume P{
  font-family: sans-serif;
  color: rgb(243, 244, 246);
  font-size: 16px;
}
.resume .profesionnal{
  flex: 0 0 auto;
  width: 40%;
}
.resume .education{
  flex: 0 0 auto;
  width: 60%;
}
.another-compet{
  display: flex;
  gap: 80px;
}
.bag{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50px; 
  background-color: #22e7a21e;
  flex-shrink: 0;
}
.bag i{
  color:#22e7a1 ;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.prof{
  font-family: Ubuntu, sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #f9fafb;
  margin-top: 20px;
  margin-right: 70px;
}
.profesionnal{
  display: block;
}
.prof-content .descrip{
  color:#f9fafb79 ;
  font-family: Roboto, system-ui, -apple-sy;
  font-size: 17.6px;
  font-weight: 600;
  margin-right: 0;
  text-align: left;
  line-height: 1.7;
}
.education .prof{
  margin-right: 240px;
}
.timeline{
  text-align: left;
  position: absolute;
  background-color: #22e7a238;
  width: 1px;
  height:100%;
}
.line-content{
  position: relative;
  height: 800px;
}
.point-top, .point-middle, .point-bottom{
  position: absolute;
  font-size: 62px;
  color: #22e7a1;
  left: 0;
  transform: translateX(-50%);
}
.line-content .point-top{
  top: -30px;
}
.point-middle{
  top: 40%;
}
.point-bottom{
  bottom: 170px;
}
.line-conteneur .annee-expe .annee1{
  font-size:15px;
  text-align: start;
  color: #22e7a1;
  font-weight: 500;
}
.line-conteneur .annee-expe .director{
  font-size: 20px;
  text-align: start;
}
.ltd{
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  color: #f3f4f691;
  text-align: start;
  letter-spacing: 1px;
  font-weight: 500;
  margin:0;
}
.line-conteneur .annee-expe .nemo{
  font-size: 16px;
  text-align: start;
  letter-spacing: 1px;
  color: #f3f4f6b2 ;
  font-weight: 400;
}
.line-conteneur .annee-expe .nemo1{
  font-size: 16px;
  text-align: start;
  letter-spacing: 1px;
  color: #f3f4f6b2 ;
  font-weight: 400;
  margin-bottom: 80px;
}
.line-conteneur{
  display: flex;
  gap: 30px;
}
.team-lead{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-bottom: 40px;
}
.team-lead p{
  font-size: 0.85rem;
  color: #f3f4f6b2;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  background-color: #293443;
  border: 1px solid #f3f4f61e ;
  justify-content: center;
  align-items: center;
  display: flex;
}
.award-content{
  width: 470px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #22e7a23d;
  margin-top: 40px;
  display: flex;
  gap: 15px;
  padding: 25px;
  border-top: 3px solid #22e7a1;
  flex-direction: column; 
  background-color: #2dd4be09;
}
.award-row{
  display: flex;
  gap: 15px;
}
.award{
  width: 40px; ;
  height: 40px;
  border-radius: 10px ;
  background-color:#22e7a21a ;
}
.award i{
  color: #22e7a1;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 7px;
}
.award-content .award-descript .master-text{
  font-size: 19px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  color: #f9fafb;
  margin: 0;
  text-align: start;
}
.award-content .award-descript .tempus{
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 500;
  color: #f3f4f686;
}
.award-content .award-descript .master-year{
  font-size: 14px;
  font-weight: 500;
  color: #22e7a1;
  letter-spacing: 0.02em;
  font-family: Roboto, system-ui, -apple-sy;
  text-align: start;
}
.award-content .magna{
  font-size: 15px;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 400;
  color: #f3f4f675;
  text-align: start;
  margin: 0;
}
.magna-cum{
  width: 150px;
  height: 20px;
  border-radius: 15px;
  background-color: #22e7a223;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magna-cum p{
   color: #22e7a1;
   font-size: 12.8px;
   font-weight: 400;
}
.awards-contents{
  width: 470px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.11);
  margin-top: 40px;
  display: flex;
  gap: 15px;
  padding: 25px;
  flex-direction: column;
  background-color: #2dd4be09;
}

.awards-contents .award-descript .master-text{
  font-size: 19px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  color: #f9fafb;
  margin: 0;
  text-align: start;
}
.awards-contents .award-descript .tempus{
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 500;
  color: #f3f4f686;
}
.awards-contents .award-descript .master-year{
  font-size: 14px;
  font-weight: 500;
  color: #22e7a1;
  letter-spacing: 0.02em;
  font-family: Roboto, system-ui, -apple-sy;
  text-align: start;
}
.awards-contents .magna{
  font-size: 15px;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 400;
  color: #f3f4f675;
  text-align: start;
  margin: 0;
}
.certifications{
  margin-top: 30px;
}
.master .certifications .certificated{
  font-size: 17.6px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  color: #f9fafb;
  text-align: start;
}
.patch i{
  color: #22e7a1;
}
.patch-content{
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.patch-content .patch-descript .advanced{
  font-size: 15.2px;
  font-weight: 500;
  margin: 0;
  text-align: start;
}
.patch-content .patch-descript .academy{
  font-size: 13.6px;
  color: #f3f4f675;
  font-weight: 500;
  text-align: start;
}
.the-lines1{
  height: 1px;
  background-color:rgba(243, 244, 246, 0.041);
  width: 100%;
  margin-top: 20px;
  max-width: 520px;
  display: block;
  margin: 0;
}

