header{
    background-color: #25303f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    justify-content: center;  
    align-content: center;
    position: fixed;
    overflow-y: auto;
    
}

body{
  margin: 0;
  padding: 0; 
  
}

.photo {
  width: 200px;  
  height: 200px;
  border-radius: 20px;          
  border: 8px solid rgba(128, 128, 128, 0.384); 
  display: flex;          
  margin-top: 250px;
  max-width: 220px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  justify-content: center;
  border-radius: 10px;
}

.nom h1{
    color: whitesmoke;
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

header .nom{
  margin-top: 19px;
}

.info-nav li{
  margin-bottom: 20px;
  margin-right: 50px;
  width: 100%;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  transition: color 0.3s ease;
  display: flex;  
}


ul li a:hover {
  color: #00ff88; 
}

ul li a:hover i {
  color: #00ff88; 
}

i {
  color: white;
  margin-right: 8px;
  font-size: 20px; 
}

ul li {
  margin: 40px 0;
  list-style: none;
}

.icones {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.icones a {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.445); 
  border-radius: 20%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-shrink: 0; 
  transition: all 0.3s ease;
}

.icones a i {
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.icones a:hover {
  background-color: #00ff88; 
}
section{
   padding: 150px 0; 
}

main {
  margin-left: 300px;
  background-color:#25303f;
  padding: 0 40px;
  color: #fff;
  display: block;
  overflow-x: hidden;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
 
}

.hero .home{
  flex: 0 0 auto;
  width: 50%;
}
.ma-photo{
  position: relative;
  width: fit-content;
}
.hero .ma-photo{
  flex: 0 0 auto;
  width: 50%;
  max-width: 500px;
  margin: 0 auto; 
}
.ma-photo img{
  display: block;
  overflow: hidden;
}
.hero .ma-photo img{
  border-radius: 12px;
  box-shadow: 0 20px 60px rgba(255, 255, 255, 0.15);
  transition: transform 0.4s ease;
  max-width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: 20px !important;
}

.ma-photo:hover img {
  transform: scale(1.05);
}

.hero .home .titre{
  font-size: 3.5rem;
  font-family: Ubuntu;
  font-weight: 400;
}

.hero .home .titre2{
  color: #22e7a1;
  text-decoration: underline;
  text-underline-offset: 15px; 
  text-decoration-thickness: 2px;
}

.home p{
  font-family: Ubuntu;
  line-height: 1.70;
  color:#d1d5db;
  font-size: 1.125rem;
}

.buttons .button1{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #22e7a1;
  border: none;
  font-family: Ubuntu;
  font-size: 1.1rem;
  color: #1f2937;
  font-weight: 500;
}
.buttons .button2{
  margin-left: 20px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #25303f;
  color: #f9fafb;
  border:2px solid gray ;
  font-family: Ubuntu;
  font-size: 1.1rem;
}

.buttons{
  margin-top: 60px;
  margin-bottom: 25px;
}

.hero .home .actions {
  display: flex;
  gap: 3rem;
}

.hero .home .actions .act .nombre{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #00ff88;
    margin-bottom: 0; 
    font-family: System-ui;
}

.hero .home .actions .act .texte{
  display: inline-block;
  white-space: nowrap;
  font-size: 0.875rem;
  color:rgba(255, 255, 255, 0.6);
  margin-top: 0.123rem; 
  font-weight: 400;
  font-family: System-ui;
}

.works{
  bottom: 0;
  left: 0;
  width: 100%;
}
.works1, .works2, .works3{
  position: absolute;
  display:flex ;
  align-items: center;
  justify-content: center;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: #293443;
  font-family: Roboto;
  box-shadow: 0 4px 15px #f9fafb1a;
  transition: transform 0.3s ease
}

.works i{
  color: #22e7a1;
}

.works1:hover, .works2:hover, .works3:hover{
  transform: scale(1.1); 
}

.works1{
  top: 100px;
  left: -25px; 
}
.works2{
  bottom: 50px;
  left: -55px;
}
.works3{
  bottom: 50px;
  right: -45px;
}

.about .salutation{
  font-size: 1.9rem;
  margin-left: 20%;
  color: #f9fafb;
}

.about .salutation h1{
  margin-bottom: 12px;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
}

.about .info{
  font-size: 20px;
  font-weight: 400;
  color: #f3f4f6a2;
  margin-left: 30%;
}
.about .info h4{
  font-family:sans-serif;
}

.about .photo2{
  flex: 0 0 auto;
  width: 50%;
  max-width: 270px;
  padding: 20px; 
  margin-top: 15px; 
  margin-left: 50px;
}

.about .photo2 img{
  max-width: 100%;
  border-radius: 10px;
}

.localisation li{
  display: flex;
  align-items: center;
  color: #f3f4f6;
  gap: 8px;
  margin-bottom: -15px;
}
.localisation{
  font-family: Roboto, system-ui, -apple-sy;
 align-items: flex-start;
 display: block;
}

.localisation i{
  color: #22e7a1;
  font-size: 18px;
}

.localisation .dot {
  width: 8px;
  height: 8px;
  background-color: #2ecc71; 
  border-radius: 50%;
  display: inline-block;
}

.localisation li p {
  color: #f3f4f6;
  font-size: 16px;   
  font-weight: 400;
  margin: 0; 
  padding: 0;
}

.about .description{
  flex: 0 0 auto;
  width: 50%;
  margin-top: 20px;
  margin: 0;
}

.about .description .p1{
  color: #f3f4f6;
  font-size: 20.8px;
  line-height: 1.7;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 300;
}

.about .description .p2{
  font-size: 17.6px;
  line-height: 1.8;
  color: #f3f4f6;
  font-family: Roboto, system-ui, -apple-sy;
  font-weight: 450;
}

.informations{
  display: flex;
  align-items: flex-start;
  gap: 110px;
}

.service{
  display: flex; 
  align-items: flex-start;
  gap: 20px; 
  margin-bottom: 25px;
}
.icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 50px;
 height: 50px;
 border-radius: 8px; 
 background-color: #22e7a21e;
 flex-shrink: 0; 
}
.icon i{
  color:#22e7a1 ;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.domaine h1{
  font-family: Ubuntu, sans-serif;
  color: rgb(249, 250, 251);
  font-weight:500;
  font-size: 20px;
  margin: 0 0 4px 0;  
}
.domaine p{
  font-family: Roboto, system-ui, -apple-sy;
  color: #f3f4f6a2;
  font-size: 15px;
  font-weight: 480;
  margin: 5;  
}
.others{
  margin-top: 50px;
}
.quote-mark{
  color:#22e7a22f ;
  font-size: 70px;
  position: absolute; 
  top: -10px;        
  left: -20px;   
}
.quote-block{
  padding: 40px 0;  
  position: relative; 
  max-width: 100%; 
  margin: 0 auto;
}
.advice{
  color: #f3f4f6;
  font-style: italic;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: Roboto, system-ui, -apple-s;
  font-weight: 300;
  position: relative;
  margin-top: 0px;
}
.line{
  max-width: 500px;
  height: 1px;
  background-color:rgba(243, 244, 246, 0.274);
  width: 100%;
  margin-top: 150px;
  max-width: 900px;
  display: block;
  margin-left: 50px;
}
.about .create{
  flex: 0 0 auto;
  width: 50%;
}
.about .bottoms{
  flex: 0 0 auto;
  width: 50%;
  align-items: center;
}
.about .creation{
  display: flex;
}
.bottoms{
  margin-top: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.create{
  margin-top: 40px;
  font-family: Ubuntu, sans-serif;
  margin-left: 45px;
}
.create h1{
  color: #f9fafb;
  font-weight: 100;
  font-size: 1.858rem;
}
.create p{
  font-family: Roboto, system-ui, -apple-sy;
  color: #f3f4f6a9;
  font-weight: 500;
  font: 1.800rem;
}
.bottom1{
  width: 190px;
  height: 50px;
  border-radius: 7px;
  background-color: #22e7a1;
  border: none;
  color:#1f2937;
  font-family: Roboto, system-ui, -apple-sy;
  cursor: pointer;
  font-size: 1.144rem;
}
.bottom2{
  width: 170px;
  height: 50px;
  border-radius: 7px;
  background-color: #293443;
  color: #f3f4f6;
  border: 1px solid #f3f4f662;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.100rem;
}
.bottom2:hover{
  border-color: #00ff88;
  color: #22e7a1;
}
.activities{
  display: flex;
  width: 980px;
  height: 700px;
  background-color: rgb(41, 51, 65);
  margin-top: 130px;
  justify-content: center;
}
.activity{
  margin-left: 40px;
  margin-top: 130px;
}
.number{
  font-size: 75px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text1{
  color: #f3f4f67e;
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
}
.line1{
  height: 1px;
  width: 200px;
  background-color:rgba(243, 244, 246, 0.342);
  margin-top: 130px;
}
.items{
  margin-top: 50px;
  display: flex;
  gap: 18px;
}
.content h1{
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.content p{
  font-family: sans-serif;
  color:#f3f4f6a8;
  font-size: 10x;
  font-weight: 500;
}
.icons i{
  color: #00ff88;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #22e7a20e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  
}
